// :host {
//   margin: 2px;
//   border: 1px solid black;
//   border-radius: 5px;
//   display: block;
// }

img {
  max-width: 100%;
}

.crop-image {
  display: block;
  height: 300px;
  width: 100%;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}

// https://github.com/Teradata/covalent/blob/0b89950bae68e51f62d17bbe9cc5052d64ab7ff7/src/app/components/shared/component-overview/component-overview.component.scss
.product-card {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  // display: flex;
  padding: 16px 16px 20px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
  &:hover {
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2),
      0 2px 8px 4px rgba(60, 64, 67, 0.1);
    transform: translateY(-1px);
  }
}
