// Custom palette create to suport company logo and branding

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$cz-primary: (
  50: #e0faee,
  100: #b3f2d5,
  200: #80eab9,
  300: #4de19d,
  400: #26da88,
  500: #00d473,
  600: #00cf6b,
  700: #00c960,
  800: #00c356,
  900: #0caf63,
  A100: #e2ffea,
  A200: #afffc6,
  A400: #7cffa2,
  A700: #63ff90,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$cz-secondary: (
  50: #fef1e7,
  100: #fcdcc3,
  200: #fac59c,
  300: #f8ad74,
  400: #f79c56,
  500: #f58a38,
  600: #f48232,
  700: #f2772b,
  800: #f06d24,
  900: #ee5a17,
  A100: #ffffff,
  A200: #fff1eb,
  A400: #ffccb8,
  A700: #ffba9f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$cz-warn: (
  50: #fceaeb,
  100: #f8cbcd,
  200: #f4a9ac,
  300: #ef878a,
  400: #eb6d71,
  500: #ff4960,
  600: #e54c50,
  700: #e24247,
  800: #de393d,
  900: #d8292d,
  A100: #ffffff,
  A200: #ffe4e4,
  A400: #ffb1b2,
  A700: #ff9799,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
